.app-bar {
  height: 70px;
  background-color: var(--color-app-bar-bg-color);
  box-shadow: 4px 0 16px rgba(69, 69, 69, 0.25);
  z-index: 20;
}

.menu {
  --size: 86px;

  width: var(--size);
  min-width: var(--size);
  max-width: var(--size);

  &__btn {
    --size: 56px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50% !important;
    padding: 0 !important;

    width: var(--size);
    height: var(--size);
  }

  &__icon {
    --size: 32px;

    width: var(--size);
    height: var(--size);

    fill: var(--color-app-bar-menu-icon-fill);
  }
}

.logo {
  &__icon {
    --size: 42px;

    width: var(--size);
    height: var(--size);
    margin: 0 24px;
  }

  &__title {
    font-size: 32px;
    font-weight: 600;
    color: var(--color-app-bar-logo-title-color);
  }
}

.account {
  padding: 0 20px;

  &__btn {
    display: flex;
    align-items: center;
    padding: 5px 15px !important;
  }

  &__avatar {
    display: flex;
    flex-shrink: 0;
    flex-grow: 0;

    align-items: center;
    justify-content: center;

    --size: 42px;

    width: var(--size);
    height: var(--size);
    margin: 0 16px;

    border-radius: 50%;

    background-color: var(--color-gray-400);

    font-weight: 500;
    font-size: 18px;
    color: var(--color-white);

    &__layout {
      width: 100%;
      height: 100%;
    }
  }

  &__username {
    font-size: 18px;
    font-weight: 500;
    color: var(--color-app-bar-acoount-text-color);
  }

  &__arrow-icon {
    --size: 16px;

    width: var(--size);
    height: var(--size);
    fill: var(--color-app-bar-acoount-text-color);
  }
}

.settings-popup {
  display: inline-flex;
  width: auto;
  background-color: var(--color-app-bar-popup-bg-color);
  padding: 10px;
  margin: 6px 2px;
  box-shadow: 0px 0px 4px var(--color-app-bar-popup-box-sw-color);
  border-radius: 4px;

  &__btn {
    font-size: 14px;
    font-weight: 500;
    white-space: nowrap;
    color: var(--color-app-bar-popup-btn-bg-color);
  }
}

@media screen and (max-width: 640px) {
  .logo {
    display: none;
  }
}
