.modal_form {
  position: relative;
  width: 450px;
  padding: 40px;
  min-width: 290px;
  min-height: 400px;
  box-shadow: 0px 0px 10px rgba(69, 69, 69, 0.49);

  max-width: calc(100% - 94px);
  max-height: calc(100% - 94px);

  border-radius: 4px;

  background-color: var(--color-dialog-content-color);

  &__layout {
    height: 100%;
  }

  &__title {
    font-weight: 600;
    color: var(--color-create-dilaog-title-color);
  }

  &__btn {
    color: var(--color-create-dialog-btn-color);
    font-size: 16px;
    text-transform: none;
  }

  &__tabs {
    display: inline-flex;
    margin: 32px 0;
    font-weight: 400;
    color: var(--color-create-dialog-tabs-color);
  }

  &__btns {
    margin-top: 16px;
  }

  &__progress {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: var(--color-create-dialog-progress-bg);
  }
}

.tab {
  &__title {
    display: flex;
    justify-content: center;
    width: 120px;
    font-weight: 500;
  }
}

.btn {
  font-size: 18px;
  font-weight: 500;
  color: var(--color-create-dialog-btn-color);
  border: 1px solid var(--color-create-dialog-btn-border);
  padding: 8px 16px;

  &_cancel,
  &_create {
    font-weight: 600;
    text-transform: uppercase;
    margin: 10px;
  }

  &_cancel {
    color: var(--color-create-dialog-btn-cencel-color);
  }

  &_create {
    &:hover:enabled {
      background-color: var(--color-create-dialog-btn-create-hover-bg);
    }
  }
}

.list_item {
  margin: 2px 0;
  flex-shrink: 0;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &__btn {
    width: 100%;
    padding: 8px 20px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.1s ease-out;
    background-color: transparent;

    &:not(.list_item___btn_active):not(.list_item___btn_skeleton):hover {
      background-color: var(
        --color-create-dialog-list-item-hover-bg-color
      ) !important;

      .list_item__title {
        color: var(
          --color-create-dialog-list-item-hover-title-color
        ) !important;
      }

      .list_item__status {
        background-color: var(
          --color-create-dialog-list-item-hover-status-bg-color
        ) !important;
      }
    }

    &:active {
      background-color: var(
        --color-create-dialog-list-item-active-bg
      ) !important;

      .list_item__title {
        color: var(
          --color-create-dialog-list-item-active-title-color
        ) !important;
      }

      .list_item__status {
        background-color: var(
          --color-create-dialog-list-item-active-status-bg
        ) !important;
      }
    }

    &_active {
      background-color: var(
        --color-create-dialog-list-item-selected-bg
      ) !important;

      .list_item__title {
        color: var(
          --color-create-dialog-list-item-selected-title-color
        ) !important;
      }

      .list_item__status {
        background-color: var(
          --color-create-dialog-list-item-selected-status-bg
        ) !important;
      }
    }
  }

  &__avatar {
    position: relative;
  }

  &__image {
    --size: 44px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: var(--size);
    height: var(--size);
    border-radius: 50%;

    background-color: var(--color-create-dialog-list-item-image-bg);

    & > span {
      font-size: 16px;
      font-weight: 600;
      color: var(--color-create-dialog-list-item-image-color);
    }
  }

  &__status {
    --size: 16px;

    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    bottom: 0;
    width: var(--size);
    height: var(--size);
    background-color: var(--color-create-dialog-list-item-status-bg);
    border-radius: 50%;
  }

  &__title {
    display: block;

    max-width: 60%;
    margin-left: 24px;

    font-size: 18px;
    font-weight: 600;

    color: var(--color-create-dialog-list-item-title-color);

    overflow: hidden;
    overflow-wrap: break-word;

    text-align: left;
    text-overflow: ellipsis;

    white-space: nowrap;
  }

  &__online_status {
    --size: 10px;
    width: var(--size);
    height: var(--size);
    background-color: var(--color-create-dialog-list-item-online-status-bg);
    border-radius: 50%;
  }
}

.tab_panel {
  &__list {
    max-height: 300px;

    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: var(--color-create-dialog-tab-panel-scroll);
    }
  }
}
