.btn {
    padding: 10px 20px;
    transition: background .3s ease-out;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    border-radius: 4px;
    font-size: 14px;

    &:hover {
        background-color: #eee;
    }

    &:active {
        background-color: #ddd;
    }

    &_contained {
        background-color: #3674FF;
        color: #fff;

        &:hover {
            background-color: #0D59FF;
        }
    
        &:active {
            background-color: #6394fd;
        }
    }

    &_outlined {
        border: 1px solid #3674FF;
    } 
}