.create-dialog-form {
    padding: 40px;

    &__title {
        font-weight: 600;
    }

    &__btn {
        color: #999;
        font-size: 16px;
        text-transform: none;
    }

    &__tabs {
        display: inline-flex;
        margin: 32px 0;
        font-weight: 400;
        color: #3674FF;
    }

    &__btns {
        margin-top: 16px;
    }
}

.tab {
    &__title {
        width: 120px;
        text-align: center;
        font-weight: 500;
    }
}

.btn {
    font-size: 18px;
    font-weight: 500;
    color: #999999;
    border: 2px solid #ededed;
    padding: 8px 16px;

    &-cancel, &-create {
        font-weight: 600;
        text-transform: uppercase;
        margin: 10px;
    }
}

.list-item {
    padding: 4px 20px;
    margin: 2px 0; 
    cursor: pointer;
    border-radius: 4px;
    transition: background-color .1s ease-out;

    &:not(.list-item_active):not(.list-item_skeleton):hover {
        background-color: #3674FF;

        .list-item__title {
            color: #fff;
        }

        .list-item__status {
            background-color: #3674FF;
        }

    }

    &_active {
        background-color: #3674FF;

        .list-item__title {
            color: #fff;
        }

        .list-item__status {
            background-color: #3674FF;
        }
    }

    &__avatar {
        position: relative;
        margin-top: 4px;
    }

    &__image {
        --size: 44px;

        width: var(--size);
        height: var(--size);
        border-radius: 50%;
    }

    &__status {
        --size: 16px;

        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 0;
        bottom: 0;
        width: var(--size);
        height: var(--size);
        background-color: #fff;
        border-radius: 50%;
    }

    &__header {
        max-width: 70%;
        overflow: hidden;
    }

    &__text {
        margin: 0 24px;
    }

    &__text {
        width: auto;
        height: 48px;
        justify-content: space-around;
    }

    &__title {
        width: 100%;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: flex;
        font-size: 18px;
        color: #000;
        font-weight: 600;
    }

    &__online-status {
        --size: 10px;
        width: var(--size);
        height: var(--size);
        background-color: #00C980;
        border-radius: 50%;
    }
}

.tab-panel {
    &__list {
        max-height: 300px;

        overflow-y: auto;

        &::-webkit-scrollbar {
            width: 6px;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            background-color: #d1d1d1;
        }
    }
}