.chat-messages {
  height: calc(100vh - 70px);

  &__plug {
    background-color: var(--color-chat-messages-plug-bg);
  }
}

.plug {
  margin-bottom: 70px;

  &__icon {
    --size: 128px;

    width: var(--size);
    height: var(--size);

    fill: var(--color-chat-messages-plug-icon-fill);

    margin: 14px 0;
  }

  &__title {
    font-size: 30px;
    font-weight: 600;
    color: var(--color-chat-messages-plug-title-color);
  }

  &__desc {
    font-size: 18px;
    font-weight: 500;
    color: var(--color-chat-messages-plug-desc-color);
  }
}
