.content {
  &__layout {
    width: 100%;
    transition: padding 0.3s;

    &--shifted {
      padding-left: 526px;
    }
  }

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-dialog-bg-color);
    opacity: 0.4;
    display: none;

    transition: opacity 0.3s;

    &--show {
      display: block;
    }
  }
}

@media (min-width: 1280px) {
  .content {
    &__layout {
      padding-left: 526px;

      &--shifted {
        padding-left: 86px;
      }
    }

    &__overlay {
      display: none;
    }
  }
}

@media (max-width: 1280px) {
  .content {
    &__layout {
      padding-left: 86px;

      &--shifted {
        padding-left: 86px;
      }
    }
  }
}

@media (max-width: 960px) {
  .content {
    &__layout {
      padding-left: 0;

      &--shifted {
        padding-left: 0;
      }
    }
  }
}
