.page[data-theme-mode='light'] {
  background-color: var(--color-white);
}

.page[data-theme-mode='dark'] {
  background-color: var(--color-gray-700);
}

/* app-bar */

.page[data-theme-mode='light'] {
  --color-app-bar-bg-color: var(--color-white);
  --color-app-bar-menu-icon-fill: var(--color-gray-500);
  --color-app-bar-acoount-text-color: var(--color-gray-500);
  --color-app-bar-logo-title-color: var(--color-black);
  --color-app-bar-popup-bg-color: var(--color-white);
  --color-app-bar-popup-box-sw-color: rgba(69, 69, 69, 0.25);
  --color-app-bar-popup-btn-bg-color: var(--color-black);
}

.page[data-theme-mode='dark'] {
  --color-app-bar-bg-color: var(--color-gray-650);
  --color-app-bar-menu-icon-fill: var(--color-white);
  --color-app-bar-acoount-text-color: var(--color-white);
  --color-app-bar-logo-title-color: var(--color-white);
  --color-app-bar-popup-bg-color: var(--color-gray-700);
  --color-app-bar-popup-box-sw-color: var(--color-gray-600);
  --color-app-bar-popup-btn-bg-color: var(--color-gray-200);
}

/* chat-bar */

.page[data-theme-mode='light'] {
  --color-chat-bar-border-color: var(--color-gray-100);
  --color-chat-bar-title-color: var(--color-black);
  --color-chat-bar-status-color: var(--color-gray-200);
  --color-chat-bar-status-icon-bg-color: var(--color-green-200);
  --color-chat-bar-avatar-plug-bg-color: var(--color-gray-300);
  --color-chat-bar-avatar-plug-color: var(--color-white);
  --color-chat-bar-btn-icon-fill: var(--color-gray-600);
  --color-chat-bar-bg-color: var(--color-white);
}

.page[data-theme-mode='dark'] {
  --color-chat-bar-border-color: var(--color-gray-700);
  --color-chat-bar-title-color: var(--color-gray-200);
  --color-chat-bar-status-color: var(--color-gray-400);
  --color-chat-bar-status-icon-bg-color: var(--color-green-200);
  --color-chat-bar-avatar-plug-bg-color: var(--color-gray-600);
  --color-chat-bar-avatar-plug-color: var(--color-gray-200);
  --color-chat-bar-btn-icon-fill: var(--color-gray-200);
  --color-chat-bar-bg-color: var(--color-gray-700);
}

/* chat-input */

.page[data-theme-mode='light'] {
  --color-chat-input-border: var(--color-gray-100);
  --color-chat-input-color: var(--color-gray-300);
  --color-chat-input-btn-color: var(--color-gray-300);
  --color-chat-input-bg-color: var(--color-white);
}

.page[data-theme-mode='dark'] {
  --color-chat-input-border: var(--color-gray-700);
  --color-chat-input-color: var(--color-gray-300);
  --color-chat-input-btn-color: var(--color-gray-400);
  --color-chat-input-bg-color: var(--color-gray-700);
}

/* chat-messages */

.page[data-theme-mode='light'] {
  --color-chat-messages-plug-bg: var(--color-gray-50);
  --color-chat-messages-plug-icon-fill: var(--color-gray-300);
  --color-chat-messages-plug-title-color: var(--color-gray-300);
  --color-chat-messages-plug-desc-color: var(--color-gray-250);

  --color-chat-messages-bg: var(--color-gray-50);
  --color-chat-messages-scroll-bg-color: var(--color-gray-200);
  --color-chat-messages-avatar-name: var(--color-black);
  --color-chat-messages-avatar-plug-color: var(--color-white);
  --color-chat-messages-avatar-plug-bg-color: var(--color-gray-300);
  --color-chat-messages-message-text-bg: var(--color-white);
  --color-chat-messages-message-text-border: var(--color-gray-100);
  --color-chat-messages-message-text-color: var(--color-black);
  --color-chat-messages-loading-done: var(--color-blue-400);
  --color-chat-messages-loading-process: var(--color-blue-400);
  --color-chat-messages-primary-text-bg: var(--color-blue-400);
  --color-chat-messages-primary-text-color: var(--color-white);
  --color-chat-messages-time-color: var(--color-gray-300);

  --color-edit-btn-icon: var(--color-gray-600);
  --color-edit-btn-popup-bg: var(--color-white);
  --color-edit-btn-popup-item-hover-bg: var(--color-blue-400);
  --color-edit-btn-popup-item-icon: var(--color-gray-200);
  --color-edit-btn-popup-item-title: var(--color-gray-900);
  --color-edit-btn-popup-item-icon-hover: var(--color-white);
  --color-edit-btn-popup-item-title-hover: var(--color-white);
}

.page[data-theme-mode='dark'] {
  --color-chat-messages-plug-bg: var(--color-gray-700);
  --color-chat-messages-plug-icon-fill: var(--color-gray-300);
  --color-chat-messages-plug-title-color: var(--color-gray-300);
  --color-chat-messages-plug-desc-color: var(--color-gray-400);

  --color-chat-messages-bg: var(--color-gray-750);
  --color-chat-messages-scroll-bg-color: var(--color-gray-500);
  --color-chat-messages-avatar-name: var(--color-gray-200);
  --color-chat-messages-avatar-plug-color: var(--color-gray-200);
  --color-chat-messages-avatar-plug-bg-color: var(--color-gray-600);
  --color-chat-messages-message-text-bg: var(--color-gray-550);
  --color-chat-messages-message-text-border: var(--color-gray-650);
  --color-chat-messages-message-text-color: var(--color-gray-50);
  --color-chat-messages-loading-done: var(--color-blue-400);
  --color-chat-messages-loading-process: var(--color-blue-400);
  --color-chat-messages-primary-text-bg: var(--color-blue-400);
  --color-chat-messages-primary-text-color: var(--color-white);
  --color-chat-messages-time-color: var(--color-gray-300);

  --color-edit-btn-icon: var(--color-gray-300);
  --color-edit-btn-popup-bg: var(--color-gray-750);
  --color-edit-btn-popup-item-icon: var(--color-gray-300);
  --color-edit-btn-popup-item-title: var(--color-gray-300);

  --color-edit-btn-popup-item-hover-bg: var(--color-gray-650);
  --color-edit-btn-popup-item-icon-hover: var(--color-gray-200);
  --color-edit-btn-popup-item-title-hover: var(--color-gray-200);
}

/* side-bar */

.page[data-theme-mode='light'] {
  --color-side-bar-bg-color: var(--color-white);
  --color-side-bar-menu-item-fill: var(--color-gray-200);

  --color-side-bar-menu-item-active-fill: var(--color-blue-400);
  --color-side-bar-menu-item-active-border-color: var(--color-blue-400);

  --color-side-bar-menu-item-hover-bg-color: var(--color-blue-10);
  --color-side-bar-menu-item-hover-fill: var(--color-blue-400);

  --color-side-bar-shadow-color: rgba(69, 69, 69, 0.25);
}

.page[data-theme-mode='dark'] {
  --color-side-bar-bg-color: var(--color-gray-700);
  --color-side-bar-menu-item-fill: var(--color-gray-400);

  --color-side-bar-menu-item-active-fill: var(--color-blue-400);
  --color-side-bar-menu-item-active-border-color: var(--color-blue-400);

  --color-side-bar-menu-item-hover-bg-color: var(--color-gray-550);
  --color-side-bar-menu-item-hover-fill: var(--color-blue-400);

  --color-side-bar-shadow-color: rgba(0, 0, 0, 0.65);
}

/* list-bar */

.page[data-theme-mode='light'] {
  --color-list-bar-bg: var(--color-white);
  --color-list-bar-border: var(--color-gray-100);
  --color-list-bar-scroll-bg: var(--color-gray-200);

  --color-list-bar-item-status-bg: var(--color-white);
  --color-list-bar-item-title-color: var(--color-black);
  --color-list-bar-item-desc-color: var(--color-gray-200);
  --color-list-bar-item-time-color: var(--color-gray-200);
  --color-list-bar-item-nums-bg: var(--color-blue-400);
  --color-list-bar-item-nums-color: var(--color-white);
  --color-list-bar-item-online-status-bg: var(--color-green-200);
  --color-list-bar-item-avatar-stup-bg-color: var(--color-gray-300);
  --color-list-bar-item-avatar-stup-color: var(--color-white);

  --color-list-bar-item-hover-bg: var(--color-blue-400);
  --color-list-bar-item-title-hover-color: var(--color-white);
  --color-list-bar-item-desc-hover-color: var(--color-gray-50);
  --color-list-bar-item-status-hover-bg: var(--color-blue-400);
  --color-list-bar-item-time-hover-color: var(--color-gray-50);
  --color-list-bar-item-nums-hover-bg: var(--color-white);
  --color-list-bar-item-nums-hover-color: var(--color-blue-400);
  --color-list-bar-item-avatar-stup-hover-bg-color: var(--color-gray-300);
  --color-list-bar-item-avatar-stup-hover-color: var(--color-white);

  --color-list-bar-item-active-bg: var(--color-blue-400);
  --color-list-bar-item-title-active-color: var(--color-white);
  --color-list-bar-item-desc-active-color: var(--color-gray-50);
  --color-list-bar-item-status-active-bg: var(--color-blue-400);
  --color-list-bar-item-time-active-color: var(--color-gray-50);
  --color-list-bar-item-nums-active-bg: var(--color-white);
  --color-list-bar-item-nums-active-color: var(--color-blue-400);
  --color-list-bar-item-avatar-stup-active-bg-color: var(--color-gray-300);
  --color-list-bar-item-avatar-stup-active-color: var(--color-white);

  --color-list-bar-title-color: var(--color-black);
}

.page[data-theme-mode='dark'] {
  --color-list-bar-bg: var(--color-gray-700);
  --color-list-bar-border: var(--color-gray-650);
  --color-list-bar-scroll-bg: var(--color-gray-500);

  --color-list-bar-item-status-bg: var(--color-gray-700);
  --color-list-bar-item-title-color: var(--color-gray-200);
  --color-list-bar-item-desc-color: var(--color-gray-200);
  --color-list-bar-item-time-color: var(--color-gray-200);
  --color-list-bar-item-nums-bg: var(--color-gray-650);
  --color-list-bar-item-nums-color: var(--color-white);
  --color-list-bar-item-online-status-bg: var(--color-green-200);
  --color-list-bar-item-avatar-stup-bg-color: var(--color-gray-750);
  --color-list-bar-item-avatar-stup-color: var(--color-gray-200);

  --color-list-bar-item-hover-bg: var(--color-gray-650);
  --color-list-bar-item-title-hover-color: var(--color-gray-200);
  --color-list-bar-item-desc-hover-color: var(--color-gray-50);
  --color-list-bar-item-status-hover-bg: var(--color-gray-650);
  --color-list-bar-item-time-hover-color: var(--color-gray-50);
  --color-list-bar-item-nums-hover-bg: var(--color-white);
  --color-list-bar-item-nums-hover-color: var(--color-gray-650);
  --color-list-bar-item-avatar-stup-hover-bg-color: var(--color-gray-700);
  --color-list-bar-item-avatar-stup-hover-color: var(--color-gray-200);

  --color-list-bar-item-active-bg: var(--color-gray-650);
  --color-list-bar-item-title-active-color: var(--color-gray-50);
  --color-list-bar-item-desc-active-color: var(--color-gray-50);
  --color-list-bar-item-status-active-bg: var(--color-gray-650);
  --color-list-bar-item-time-active-color: var(--color-gray-50);
  --color-list-bar-item-nums-active-bg: var(--color-white);
  --color-list-bar-item-nums-active-color: var(--color-gray-650);
  --color-list-bar-item-avatar-stup-active-bg-color: var(--color-gray-700);
  --color-list-bar-item-avatar-stup-active-color: var(--color-gray-200);

  --color-list-bar-title-color: var(--color-gray-200);
}

/* create-dilaog */

.page[data-theme-mode='light'] {
  --color-create-dialog-btn-color: var(--color-gray-300);
  --color-create-dialog-btn-border: var(--color-gray-100);
  --color-create-dialog-btn-create-hover-bg: var(--color-blue-500);

  --color-create-dialog-tabs-color: var(--color-blue-400);
  --color-create-dialog-progress-bg: var(--color-white);

  --color-create-dialog-list-item-hover-bg-color: var(--color-blue-400);
  --color-create-dialog-list-item-hover-title-color: var(--color-white);
  --color-create-dialog-list-item-hover-status-bg-color: var(--color-blue-400);

  --color-create-dialog-list-item-active-bg: var(--color-blue-300);
  --color-create-dialog-list-item-active-title-color: var(--color-white);
  --color-create-dialog-list-item-active-status-bg: var(--color-blue-300);

  --color-create-dialog-list-item-selected-bg: var(--color-blue-500);
  --color-create-dialog-list-item-selected-title-color: var(--color-white);
  --color-create-dialog-list-item-selected-status-bg: var(--color-blue-500);

  --color-create-dialog-list-item-image-bg: var(--color-gray-150);
  --color-create-dialog-list-item-image-color: var(--color-white);
  --color-create-dialog-list-item-status-bg: var(--color-white);
  --color-create-dialog-list-item-title-color: var(--color-black);
  --color-create-dialog-list-item-online-status-bg: var(--color-green-200);

  --color-create-dialog-tab-panel-scroll: var(--color-gray-200);

  --color-create-dilaog-title-color: var(--color-black);
  --color-create-dialog-btn-cencel-color: var(--color-black);
}

.page[data-theme-mode='dark'] {
  --color-create-dialog-btn-color: var(--color-gray-300);
  --color-create-dialog-btn-border: var(--color-gray-550);
  --color-create-dialog-btn-create-hover-bg: var(--color-blue-500);

  --color-create-dialog-tabs-color: var(--color-blue-400);
  --color-create-dialog-progress-bg: var(--color-white);

  --color-create-dialog-list-item-hover-bg-color: var(--color-blue-400);
  --color-create-dialog-list-item-hover-title-color: var(--color-gray-50);
  --color-create-dialog-list-item-hover-status-bg-color: var(--color-blue-400);

  --color-create-dialog-list-item-active-bg: var(--color-blue-300);
  --color-create-dialog-list-item-active-title-color: var(--color-gray-50);
  --color-create-dialog-list-item-active-status-bg: var(--color-blue-300);

  --color-create-dialog-list-item-selected-bg: var(--color-blue-500);
  --color-create-dialog-list-item-selected-title-color: var(--color-gray-50);
  --color-create-dialog-list-item-selected-status-bg: var(--color-blue-500);

  --color-create-dialog-list-item-image-bg: var(--color-gray-700);
  --color-create-dialog-list-item-image-color: var(--color-white);
  --color-create-dialog-list-item-status-bg: var(--color-gray-650);
  --color-create-dialog-list-item-title-color: var(--color-gray-300);
  --color-create-dialog-list-item-online-status-bg: var(--color-green-200);

  --color-create-dialog-tab-panel-scroll: var(--color-gray-500);

  --color-create-dilaog-title-color: var(--color-gray-300);
  --color-create-dialog-btn-cencel-color: var(--color-gray-300);
}

/* tabs */

.page[data-theme-mode='light'] {
  --color-tabs-border: var(--color-blue-400);
  --color-tab-selected-color: var(--color-white);
  --color-tab-selected-bg: var(--color-blue-400);
}

.page[data-theme-mode='dark'] {
  --color-tabs-border: var(--color-blue-400);
  --color-tab-selected-color: var(--color-white);
  --color-tab-selected-bg: var(--color-blue-400);
}

/* progress */

.page[data-theme-mode='light'] {
  --color-progress-circle: var(--color-blue-400);
}

.page[data-theme-mode='dark'] {
  --color-progress-circle: var(--color-blue-400);
}

/* dialog */

.page[data-theme-mode='light'] {
  --color-dialog-bg-color: var(--color-black);
  --color-dialog-content-color: var(--color-white);
  --color-dialog-content-scroll: var(--color-gray-200);
}

.page[data-theme-mode='dark'] {
  --color-dialog-bg-color: var(--color-black);
  --color-dialog-content-color: var(--color-gray-650);
  --color-dialog-content-scroll: var(--color-gray-500);
}

/* btn */

.page[data-theme-mode='light'] {
  --color-btn-hover-bg-color: var(--color-gray-100);
  --color-btn-active-bg-color: var(--color-gray-150);
  --color-btn-disabled-bg-color: var(--color-gray-200);

  --color-btn-contained-color: var(--color-white);
  --color-btn-contained-bg-color: var(--color-blue-400);
  --color-btn-contained-hover-bg-color: var(--color-blue-100);
  --color-btn-contained-active-bg-color: var(--color-blue-500);
  --color-btn-contained-disabled-bg-color: var(--color-gray-200);

  --color-btn-outlined-border: var(--color-gray-200);
  --color-btn-outlined-hover-bg-color: var(--color-gray-100);
  --color-btn-outlined-disabled-border: transparent;
  --color-btn-outlined-disabled-color: var(--color-gray-200);
  --color-btn-outlined-disabled-bg-color: transparent;

  --color-btn-text-color: var(--color-white);
  --color-btn-text-hover-bg-color: var(--color-gray-100);
  --color-btn-text-active-bg-color: var(--color-gray-150);
  --color-btn-text-disabled-bg-color: var(--color-gray-250);
}

.page[data-theme-mode='dark'] {
  --color-btn-hover-bg-color: var(--color-gray-550);
  --color-btn-active-bg-color: var(--color-gray-600);
  --color-btn-disabled-bg-color: var(--color-gray-650);

  --color-btn-contained-color: var(--color-white);
  --color-btn-contained-bg-color: var(--color-blue-400);
  --color-btn-contained-hover-bg-color: var(--color-blue-100);
  --color-btn-contained-active-bg-color: var(--color-blue-500);
  --color-btn-contained-disabled-bg-color: var(--color-gray-450);

  --color-btn-outlined-color: var(--color-gray-200);
  --color-btn-outlined-border: var(--color-gray-550);
  --color-btn-outlined-hover-bg-color: var(--color-gray-550);
  --color-btn-outlined-disabled-border: transparent;
  --color-btn-outlined-disabled-color: var(--color-gray-700);
  --color-btn-outlined-disabled-bg-color: transparent;

  --color-btn-text-color: var(--color-white);
  --color-btn-text-hover-bg-color: var(--color-gray-550);
  --color-btn-text-active-bg-color: var(--color-gray-600);
  --color-btn-text-disabled-bg-color: var(--color-gray-750);
}

/* search */

.page[data-theme-mode='light'] {
  --color-search-text-color: var(--color-gray-300);
  --color-search-border-color: var(--color-gray-100);
  --color-search-bg-color: var(--color-white);
}

.page[data-theme-mode='dark'] {
  --color-search-text-color: var(--color-gray-300);
  --color-search-border-color: var(--color-gray-550);
  --color-search-bg-color: var(--color-gray-700);
}

/* skeleton */

.page[data-theme-mode='light'] {
  --color-skeleton-bg-color: rgba(0, 0, 0, 0.11);
}

.page[data-theme-mode='dark'] {
  --color-skeleton-bg-color: var(--color-gray-650);
}

/**/
