.chat-input {
  padding: 5px 20px;
  border-top: 1px solid var(--color-chat-input-border);

  &__btn {
    --size: 48px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: var(--size);
    height: var(--size);

    border-radius: 50%;
    padding: 0;
    margin: 0 5px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__input {
    border: 0;
    color: var(--color-chat-input-field);
    font-weight: 500;
    font-size: 17px;
    margin: 0 15px;

    &::placeholder {
      color: var(--color-chat-input-field);
    }
  }
}

.btn {
  &__icon {
    --size: 24px;

    width: var(--size);
    height: var(--size);

    fill: var(--color-chat-input-btn-color);
  }
}
