.chat-bar {
  padding: 0 20px;
  height: 84px;
  border-bottom: 1px solid var(--color-chat-bar-border);

  &__avatar {
    &-img,
    &-plug {
      --size: 60px;

      width: var(--size);
      height: var(--size);

      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;

      border-radius: 50%;
    }

    &-plug {
      font-weight: 500;
      font-size: 22px;
      background-color: var(--color-chat-bar-avatar-plug-bg-color);
      color: var(--color-chat-bar-avatar-plug-color);
    }
  }

  &__text {
    margin: 0 20px;
  }

  &__title {
    font-weight: 600;
    font-size: 22px;
    color: var(--color-chat-bar-title);
  }

  &__status {
    color: var(--color-chat-bar-status);
    font-weight: 500;
    font-size: 15px;

    &-icon {
      --size: 8px;

      width: var(--size);
      height: var(--size);

      background-color: var(--color-chat-bar-status-icon);
      border-radius: 50%;
      margin: 0 6px;
    }
  }

  &__tool-btn {
    --size: 48px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: var(--size);
    height: var(--size);

    border-radius: 50% !important;
    margin: 0 6px;

    padding: 5px 15px !important;

    &-icon {
      --size: 24px;

      width: var(--size);
      height: var(--size);

      fill: var(--color-chat-bar-btn-color);
    }

    &:last-child {
      &-icon {
        transform: rotate(90deg);
      }
    }
  }
}
